.parentTaskBox .firstElement{
    position: relative;
    filter: blur(40px);
}
.parentTaskBox .firstElement .child-one{
    position: absolute;
    background-color:#27CDF1;
    height: 546px;
    width: 556px;
    top: 5px;
    left:100px
}
.parentTaskBox .firstElement .child-two{
    position: absolute;
    background-color:#F7AE1F;
    height: 365px;
    width: 365px;
    top: -55px;
    right:156px;
}
.parentTaskBox .firstElement .child-three{
    position: absolute;
    background-color:#B0EE2C;
    height: 297px;
    width: 297px;
    bottom: -700px;
    left:300px
}
.parentTaskBox .firstElement .child-four{
    position: absolute;
    background-color:#EE3DDD;
    height: 241px;
    width: 241px;
    bottom: -680px;
    right:316px
}
.parentTaskBox .secondElement .secondElementChild .topBox .logoutButton .logoutIcon{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.parentTaskBox .secondElement .secondElementChild .topBox .logoutButton .logoutIcon{
    color: #000000;
}
.parentTaskBox .secondElement .secondElementChild .search{
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}
.parentTaskBox .secondElement .secondElementChild .search .inputText{
    width: 90%;
    height: 35px;
    border-radius: 10px 0px 0px 10px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 6px;
    border-right: none;
    outline: none;
}
.parentTaskBox .secondElement .secondElementChild .search div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 35px;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 6px;
    border-left: none;
}
.secondElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    padding: 10px;
}
.secondElement .secondElementChild{
    border: 1px solid black;
    border-radius: 16px;
    height: 700px;
    position: relative;
    background-color: #ffffff54;
    width: 25%;
    padding: 10px;
}
.secondElement .secondElementChild .topBox{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.secondElement .secondElementChild .topBox .userLogo{
    width: 60px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(182, 180, 180);
}
.secondElement .secondElementChild .topBox .userLogo{
       display: flex;
       justify-content: center;
       padding-top: 17px;
       font-size: 30px;
       color: white;
}
.secondElement .taskBox{
    border: 1px solid black;
    border-radius: 16px;
    height: 700px;
    width: 700px;
    position: relative;
    background-color: #ffffff54;
    width: 70%;
    padding: 10px;
    
}
.secondElement .secondElementChild .inputText{
    margin-bottom: 9px;
    width: 90%;
    height: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 6px;
    
}
.secondElement .secondElementChild .linkBox{
    text-decoration: none;
}

.secondElement .secondElementChild .linkBox .menuLink{
    margin-bottom: 9px;
    width: 90%;
    height: 35px;
    border-radius: 10px;
    padding: 6px;
    background-color: #ffffff;
    border: 1px solid black; 
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    text-decoration: none;

}

.parentTaskBox .secondElement .taskBox .enterTask{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.parentTaskBox .secondElement .taskBox .enterTask .inputTask{
    margin-bottom: 9px;
    width: 90%;
    height: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 6px;
    font-size: 15px;
}
.parentTaskBox .secondElement .taskBox .enterTask .enterButton{
    width: 10%;
    height: 48px;
    border-radius: 10px;
    background-color:green;
    border: none;
    padding: 6px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5px;
}
.parentTaskBox .secondElement .taskBox .taskList div{
    margin-bottom: 9px;
    width: 88.5%;
    height: 35px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 6px;
    font-size: 15px;
    position: relative;
}
.parentTaskBox .secondElement .taskBox .taskList button{
    width: 9%;
    height: 50px;
    border-radius: 10px;
    background-color:red;
    border: none;
    padding: 6px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    position: absolute;
    right: -88px;
    bottom: -2px;
    
}
